.vs/Snowflake/xs/UserPrefs.xml
.vs/Snowflake/xs/project-cache/Microfisher.Snowflake.Core-Debug.json
.vs/Snowflake/xs/project-cache/Microfisher.Snowflake.Data-Debug.json
.vs/Snowflake/xs/project-cache/Microfisher.Snowflake.Services-Debug.json
.vs/Snowflake/xs/project-cache/Microfisher.Snowflake.Web-Debug.json
.vs/Snowflake/xs/sqlite3/db.lock
.vs/Snowflake/xs/sqlite3/storage.ide
.vs/Snowflake/xs/sqlite3/storage.ide-shm
.vs/Snowflake/xs/sqlite3/storage.ide-wal
.vs/
Microfisher.Snowflake.Web/bin/Debug/netcoreapp3.1/appsettings.Development.json
Microfisher.Snowflake.Web/bin/Debug/netcoreapp3.1/appsettings.json
Microfisher.Snowflake.Web/bin/Debug/netcoreapp3.1/CSRedisCore.dll
Microfisher.Snowflake.Web/bin/Debug/netcoreapp3.1/Dapper.dll
Microfisher.Snowflake.Web/bin/Debug/netcoreapp3.1/Dockerfile
Microfisher.Snowflake.Web/bin/Debug/netcoreapp3.1/Microfisher.Snowflake.Core.dll
Microfisher.Snowflake.Web/bin/Debug/netcoreapp3.1/Microfisher.Snowflake.Core.pdb
Microfisher.Snowflake.Web/bin/Debug/netcoreapp3.1/Microfisher.Snowflake.Core.xml
Microfisher.Snowflake.Web/bin/Debug/netcoreapp3.1/Microfisher.Snowflake.Data.dll
Microfisher.Snowflake.Web/bin/Debug/netcoreapp3.1/Microfisher.Snowflake.Data.pdb
Microfisher.Snowflake.Web/bin/Debug/netcoreapp3.1/Microfisher.Snowflake.Data.xml
Microfisher.Snowflake.Web/bin/Debug/netcoreapp3.1/Microfisher.Snowflake.Services.dll
Microfisher.Snowflake.Web/bin/Debug/netcoreapp3.1/Microfisher.Snowflake.Services.pdb
Microfisher.Snowflake.Web/bin/Debug/netcoreapp3.1/Microfisher.Snowflake.Services.xml
Microfisher.Snowflake.Web/bin/Debug/netcoreapp3.1/Microfisher.Snowflake.Web
Microfisher.Snowflake.Web/bin/Debug/netcoreapp3.1/Microfisher.Snowflake.Web.deps.json
Microfisher.Snowflake.Web/bin/Debug/netcoreapp3.1/Microfisher.Snowflake.Web.dll
Microfisher.Snowflake.Web/bin/Debug/netcoreapp3.1/Microfisher.Snowflake.Web.pdb
Microfisher.Snowflake.Web/bin/Debug/netcoreapp3.1/Microfisher.Snowflake.Web.runtimeconfig.dev.json
Microfisher.Snowflake.Web/bin/Debug/netcoreapp3.1/Microfisher.Snowflake.Web.runtimeconfig.json
Microfisher.Snowflake.Web/bin/Debug/netcoreapp3.1/Microfisher.Snowflake.Web.Views.dll
Microfisher.Snowflake.Web/bin/Debug/netcoreapp3.1/Microfisher.Snowflake.Web.Views.pdb
Microfisher.Snowflake.Web/bin/Debug/netcoreapp3.1/Microfisher.Snowflake.Web.xml
Microfisher.Snowflake.Web/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Authentication.JwtBearer.dll
Microfisher.Snowflake.Web/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.JsonPatch.dll
Microfisher.Snowflake.Web/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Mvc.NewtonsoftJson.dll
Microfisher.Snowflake.Web/bin/Debug/netcoreapp3.1/Microsoft.DotNet.PlatformAbstractions.dll
Microfisher.Snowflake.Web/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyModel.dll
Microfisher.Snowflake.Web/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
Microfisher.Snowflake.Web/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
Microfisher.Snowflake.Web/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.dll
Microfisher.Snowflake.Web/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
Microfisher.Snowflake.Web/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
Microfisher.Snowflake.Web/bin/Debug/netcoreapp3.1/Microsoft.OpenApi.dll
Microfisher.Snowflake.Web/bin/Debug/netcoreapp3.1/MySqlConnector.dll
Microfisher.Snowflake.Web/bin/Debug/netcoreapp3.1/Newtonsoft.Json.Bson.dll
Microfisher.Snowflake.Web/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
Microfisher.Snowflake.Web/bin/Debug/netcoreapp3.1/nlog.config
Microfisher.Snowflake.Web/bin/Debug/netcoreapp3.1/NLog.dll
Microfisher.Snowflake.Web/bin/Debug/netcoreapp3.1/NLog.Extensions.Logging.dll
Microfisher.Snowflake.Web/bin/Debug/netcoreapp3.1/NLog.Web.AspNetCore.dll
Microfisher.Snowflake.Web/bin/Debug/netcoreapp3.1/SafeObjectPool.dll
Microfisher.Snowflake.Web/bin/Debug/netcoreapp3.1/snowflake.service
Microfisher.Snowflake.Web/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.Swagger.dll
Microfisher.Snowflake.Web/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerGen.dll
Microfisher.Snowflake.Web/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerUI.dll
Microfisher.Snowflake.Web/bin/Debug/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
Microfisher.Snowflake.Web/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
Microfisher.Snowflake.Web/obj/Debug/netcoreapp3.1/Microfisher.Snowflake.Web.AssemblyInfo.cs
Microfisher.Snowflake.Web/obj/Debug/netcoreapp3.1/Microfisher.Snowflake.Web.AssemblyInfoInputs.cache
Microfisher.Snowflake.Web/obj/Debug/netcoreapp3.1/Microfisher.Snowflake.Web.csproj.CopyComplete
Microfisher.Snowflake.Web/obj/Debug/netcoreapp3.1/Microfisher.Snowflake.Web.dll
Microfisher.Snowflake.Web/obj/Debug/netcoreapp3.1/Microfisher.Snowflake.Web.MvcApplicationPartsAssemblyInfo.cache
Microfisher.Snowflake.Web/obj/Debug/netcoreapp3.1/Microfisher.Snowflake.Web.MvcApplicationPartsAssemblyInfo.cs
Microfisher.Snowflake.Web/obj/Debug/netcoreapp3.1/Microfisher.Snowflake.Web.pdb
Microfisher.Snowflake.Web/obj/Debug/netcoreapp3.1/Microfisher.Snowflake.Web.RazorAssemblyInfo.cache
Microfisher.Snowflake.Web/obj/Debug/netcoreapp3.1/Microfisher.Snowflake.Web.RazorAssemblyInfo.cs
Microfisher.Snowflake.Web/obj/Debug/netcoreapp3.1/Microfisher.Snowflake.Web.RazorCoreGenerate.cache
Microfisher.Snowflake.Web/obj/Debug/netcoreapp3.1/Microfisher.Snowflake.Web.RazorTargetAssemblyInfo.cache
Microfisher.Snowflake.Web/obj/Debug/netcoreapp3.1/Microfisher.Snowflake.Web.RazorTargetAssemblyInfo.cs
Microfisher.Snowflake.Web/obj/Debug/netcoreapp3.1/Microfisher.Snowflake.Web.TagHelpers.input.cache
Microfisher.Snowflake.Web/obj/Debug/netcoreapp3.1/Microfisher.Snowflake.Web.TagHelpers.output.cache
Microfisher.Snowflake.Web/obj/Debug/netcoreapp3.1/Microfisher.Snowflake.Web.Views.pdb
Microfisher.Snowflake.Web/obj/Debug/netcoreapp3.1/Razor/Views/_ViewImports.cshtml.g.cs
Microfisher.Snowflake.Web/obj/Debug/netcoreapp3.1/Razor/Views/_ViewStart.cshtml.g.cs
Microfisher.Snowflake.Web/obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
Microfisher.Snowflake.Web/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs
Microfisher.Snowflake.Web/obj/Debug/netcoreapp3.1/staticwebassets/Microfisher.Snowflake.Web.StaticWebAssets.Manifest.cache
Microfisher.Snowflake.Web/obj/Debug/netcoreapp3.1/staticwebassets/Microfisher.Snowflake.Web.StaticWebAssets.xml
